
body {
  background: rgb(2,0,36);
  background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(237,237,241,1) 0%, rgba(29,116,134,1) 62%);
}


#nav {
  opacity: .75;
  background-color:black;
}

.deleteBtn {
  height:10%;
  width:10%;
  border-radius: 5px;
  background-color:red;
  margin: 1.25vh;
  margin-left:-2vw;

}

.remove-btn {
  width: 8vw;
  min-width: 8vw;
  margin: 0 auto;
}

.wantButton {
  width: 8vw;
}

.favButton {
  width: 8vw;
}

.readButton {
  width: 8vw;

}

li {
  list-style: none;
}
